body {
  margin: 40px;
}

.wrapper {
  
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.grid {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  
}


.box {
  color: #fff;
  border-radius: 5px;
}

img {
  min-height: 200px;
}