body {
  margin: 40px;
}

.wrapper {
  
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.wrapper {
  
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.grid-float img { float: left; }


.box {
  color: #fff;
  border-radius: 5px;
}

img {
  min-height: 200px;
}